# Python
__pycache__/
.ruff_cache
*.py[cod]
*.pyo
*.pyd
.Python
.venv
venv/
env/
*.sqlite
*.db

# Env/config
.env

# Bytecode / build
*.so
*.dylib
build/
dist/
*.egg-info/

# Logs
*.log

# IDE
.idea/
.vscode/

# Generated reports
*.xlsx

# OS
.DS_Store

# Тесты
test*.json